body{
    background-color: darkkhaki;
}
.b1{
    background-color: salmon;
}
.b2{
    background-color: lightgreen;
}
.b3{
    background-color: lightpink;
}
.i1{
    width: 500px;
    height: auto;
}